<!--Checkbox -->

<mat-checkbox 

#showDetails
[value]=""
[checked]="isChecked"
(change)="onChange($event)"> Show Details</mat-checkbox>

<div *ngIf="showDetails.checked"> Nareshit...!</div>

<br/>

<!--Menu Navigation-->


<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>Vertical</mat-icon>
</button>

<br/>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>

<br/>

<!--Mat Button-->
<div>

  <button mat-button>Click Me</button>

  <button mat-raised-button>Hello Ayushi..!</button>

  <button mat-flat-button>Nidhi</button>

  <button mat-stroked-button>Ayushi Singh</button>

</div>

<br/>

<!--typography-->

<app-typography></app-typography>

<!--End-->
